<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Camiones</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<style>
    .titulo{
        font-size:1.2rem;
        padding-left:2em
    }
    .arrow{
        font-size:1.2em;
    }
    .button-bottom{
        margin-bottom:3em;
    }
    a:link{
        text-decoration:none;
    }
    a:visited{
        text-decoration:none;
    }
    a:hover{
        text-decoration:none;
    }
    a:active{
        text-decoration:none;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="fa fa-arrow-left arrow" aria-hidden="true"></a>
    <a class="nav-item titulo">Ver Todo</a>
</nav>
<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Número de serie</th>
            <th scope="col">Tipo de Registro</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Año</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="v : ${vehiculos}">
            <th th:text = "|${v.id}|">ID</th>
            <td th:text = "|${v.numSerie}|"></td>
            <div th:switch="|${v.tipoRegistro}|">
                <td th:case="1">Número económico</td>
                <td th:case="2">Número temporal</td>
                <td th:case="3">Placas</td>
            </div>
            <td th:text = "|${v.marca}|"></td>
            <td th:text = "|${v.modelo}|"></td>
            <td th:text = "|${v.anio}|"></td>
            <td scope="col">
                <a th:attr="href=|/viewVehiculo?id=${v.id}&numSerie=${v.numSerie}&edit=0|" class="btn btn-primary btn-sm">Ver</a>
                <a th:attr="href=|/viewVehiculo?id=${v.id}&numSerie=${v.numSerie}&edit=1|" class="btn btn-success btn-sm">Editar</a>
                <a th:attr="href=|/delVehiculo?id=${v.id}&numSerie=${v.numSerie}|" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>